.navbar{
    height: 50px;
    background: rgb(0, 0, 33);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
a{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
a:hover{
    background: white;
    color: black;
    border-radius: 10px;
    font-weight: 600;
}

